/* =================== general ==================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);

  font-size: 62.5%; /* 10px = 1rem */
}

body {
  margin-block: 15rem;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: var(--very-light-gray);

  font-family: 'Lexend Deca', sans-serif;
}

h1 {
  font-family: 'Big Shoulders Display', cursive;

  color: var(--very-light-gray);
  text-transform: uppercase;

  font-size: 3rem;

  margin: 2.2rem 0 2.2rem 0;
}

p {
  color: var(--transparent-white);

  font-size: 1.2rem;
  line-height: 1.8;

  margin-bottom: 1.9rem;
}

/* =================== cards ==================== */
.cards-container {
  width: 52%;
  height: auto;

  border-radius: 0.5rem;
}

.card img {
  width: 5rem;
}

.card a {
  width: 11.5rem;

  background: var(--very-light-gray);

  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;

  padding-block: 1.2rem;
  border-radius: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card.sedans {
  background: var(--bright-orange);

  border-radius: 0.5rem 0.5rem 0 0;
}

.card.sedans a {
  color: var(--bright-orange);
}

.card.suvs {
  background: var(--dark-cyan);
}

.card.suvs a {
  color: var(--dark-cyan);
}

.card.luxury {
  background: var(--very-dark-cyan);

  border-radius: 0 0 0.5rem 0.5rem;
}

.card.luxury a {
  color: var(--very-dark-cyan);
}

.card.sedans a,
.card.suvs a,
.card.luxury a {
  transition: all 200ms;
}

.card.sedans a:hover,
.card.suvs a:hover,
.card.luxury a:hover {
  background: none;
  color: var(--very-light-gray);
  border: 2px solid var(--very-light-gray);
}

.card-content {
  padding: 3.5rem;
}

/* =================== footer ==================== */

.attribution {
  color: var(--very-dark-cyan);
  font-size: 1.1rem;

  margin-top: 6rem;
}
.attribution a {
  color: var(--dark-cyan);

  text-decoration: none;
}

/* =================== responsive ==================== */

@media (min-width: 1024px) {
  body {
    margin: 0;
  }

  h1 {
    font-size: 3.3rem;
  }

  p {
    margin-bottom: 6rem;
  }

  .cards-container {
    display: flex;

    width: 75rem;
  }

  .card.sedans {
    border-radius: 0.5rem 0 0 0.5rem;
  }

  .card.luxury {
    border-radius: 0 0.5rem 0.5rem 0;
  }

  .card-content {
    padding: 4.2rem;
  }
}

@media (max-width: 438px) {
  body {
    margin-block: 20rem;
  }
}

@media (max-width: 375px) {
  body {
    margin-block: 25rem;
  }

  .card a {
    width: min(11.5rem, 80%);

    padding-inline: 1.1rem;
  }
}

@media (max-width: 346px) {
  body {
    margin-block: 30rem;
  }
}
